@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  :root {
    --background: 230, 81%, 6%;
    --foreground:  0 0% 100%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover:  230, 100%, 14%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --muted-text: 231, 26%, 81%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
  html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  html::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
  }
  .clickable {
    cursor: pointer;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar-hidden::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    display: none;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #03071C;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #03071C;
    border-radius: 100vh;
    border: 3px solid white;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  #anchor{
    width: 90%;
  }

  .confused #dizzy {
    position: absolute;
    top: 33%;
    width: 8%;
    animation: spin 2s linear infinite;
  }

  .awake #eye, #eye img{
    position: absolute;
    width: 10%;
    top: 35%;
    z-index: 1;
  }
  .leftEye, .leftEye img {
    left: 35%; 
  }
  .rightEye, .rightEye img {
    left: 57%; 
  }
  .awake #smile {
    position: absolute;
    width: 15%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .face{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #specs {
    position: absolute;
    width: 40%;
    top: 40%;
    left:51%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  

  .char:not(.awake) #sleepFace {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    border-radius: 100%;
    background: #4C5765;
  }
  
  .char:not(.awake):not(.confused) #sleepFace::before,
  .char:not(.awake):not(.confused) #sleepFace::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      top: -300%;
      left: -250%;
      border-bottom: 5px solid  #4C5765;
      transition: all .3s cubic-bezier(.55, 0, .1, 1);
  }


  .char:not(.awake):not(.confused) #sleepFace::after {
      left: auto;
      right: -200%;
  }
  .char:not(.awake):not(.confused) .face::after{
    content:"Z";
    display: block;
    position: absolute;
    top: 45px;
    right: 50px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 6px;
    transform: rotate(-27deg);
    opacity: 100;
    z-index: 1;
    animation: sleep 4s ease-in-out infinite;
  }

  @keyframes sleep {
    0% { opacity: 0%; }
    30% {
        opacity: 100%;
        right: 30px;
        content: 'Z.'
    }
    60% {
        right: 50px;
        content: 'Z..'
    }
    90% {
        right: 30px;
    }
    100% {
        top: -30px;
    }
  }

  @keyframes spin { 
      100% { 
          -webkit-transform: rotate(360deg); 
          transform:rotate(360deg); 
      } 
  }
  /* Mobile Version of sleepy face*/
  @media (max-width: 767px) {
    .char:not(.awake) #sleepFace::before,
    .char:not(.awake) #sleepFace::after {
        top: -300%;
        left: -250%;
        border-bottom: 2px solid  #4C5765;
    }

  }
  
  /*For screen that is wider than the height */
  @media (max-height: 720px) {
    .awake #eye, #eye img{
      top: 15%;
    }
    #specs {
      top: 24%;
    }
    
    .char:not(.awake) #sleepFace::before,
    .char:not(.awake) #sleepFace::after {
        top: -500%;
        border-bottom: 8px solid  #4C5765;
    }
  }   
}
